:root {
    --azul-medianoche: #0f1e36;
    --blanco: #ffffff;
    --gris-claro: #ecf0f1;
    --gris-oscuro: #34495e;
  }
  
  body {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
  }
  
  .navbar {
    background-color: var(--azul-medianoche);
    border-bottom: 1px solid var(--gris-oscuro);
  }
  
  .navbar-brand, .nav-link {
    color: var(--blanco) !important;
  }
  
  .navbar-toggler-icon {
    background-color: var(--blanco);
  }
  
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-image: url('../img/inpavi_manager.png'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--blanco);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  .main-content h1 {
    color: var(--azul-medianoche);
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .main-content p {
    color: var(--gris-oscuro);
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  .btn-primary {
    background-color: var(--azul-medianoche);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: var(--blanco);
    color: var(--azul-medianoche);
  }
  
  .container::before {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0, 168, 255, 0.3), rgba(10, 21, 39, 0.3));
  }
  
  .verification-container {
    max-width: 400px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno */
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .verification-container h2 {
    margin-bottom: 20px; /* Espaciado inferior para el título */
  }
  
  .brand-wrapper {
    margin-bottom: 19px; }
    .brand-wrapper .logo {
      height: 37px; }
  
  .login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden; }
    .login-card-img {
      border-radius: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .login-card .card-body {
      padding: 85px 60px 60px; }
      @media (max-width: 422px) {
        .login-card .card-body {
          padding: 35px 24px; } }
    .login-card-description {
      font-size: 25px;
      color: #000;
      font-weight: normal;
      margin-bottom: 23px; }
    .login-card form {
      max-width: 326px; }
    .login-card .form-control {
      border: 1px solid #d5dae2;
      padding: 15px 25px;
      margin-bottom: 20px;
      min-height: 45px;
      font-size: 13px;
      line-height: 15;
      font-weight: normal; }
      .login-card .form-control::-webkit-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::-moz-placeholder {
        color: #919aa3; }
      .login-card .form-control:-ms-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::-ms-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::placeholder {
        color: #919aa3; }
    .login-card .login-btn {
      padding: 13px 20px 12px;
      background-color: #000;
      border-radius: 4px;
      font-size: 17px;
      font-weight: bold;
      line-height: 20px;
      color: #fff;
      margin-bottom: 24px; }
      .login-card .login-btn:hover {
        border: 1px solid #000;
        background-color: transparent;
        color: #000; }
    .login-card .forgot-password-link {
      font-size: 14px;
      color: #919aa3;
      margin-bottom: 12px; }
    .login-card-footer-text {
      font-size: 16px;
      color: #0d2366;
      margin-bottom: 60px; }
      @media (max-width: 767px) {
        .login-card-footer-text {
          margin-bottom: 24px; } }
    .login-card-footer-nav a {
      font-size: 14px;
      color: #919aa3; }
  